<a href="https://colab.research.google.com/github/mlopezfer/emobotics/blob/main/Emobotics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Emobotics**

In [15]:
#Si el entorno es GoogleColab, cargar los archivos necesarios desde GitHub
if 'google.colab' in str(get_ipython()):
  !rm -r emobotics
  !git clone https://github.com/mlopezfer/emobotics
  !mv emobotics/* /content

Cloning into 'emobotics'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [16]:
import pandas as pd
pd.read_csv("emobotics.csv")

,Unnamed: 0,PP,Blok_x,Condition_x,timestamp,SnMouseAct_x,SnLeftClicked_x,SnRightClicked_x,SnDoubleClicked_x,SnWheel_x,...,C_y,Condition_y.1,HR,RMSSD,SCL,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0,PP1,1.0,R,20120918T131600000,0.0,0.0,0.0,0.0,0.0,...,1.0,R,999.0,999.000000,80.239727,NaN,NaN,NaN,NaN,999 is NaN
1,1,PP1,1.0,R,20120918T131700000,0.0,0.0,0.0,0.0,0.0,...,1.0,R,61.0,0.061420,77.365127,NaN,NaN,NaN,NaN,NaN
2,2,PP1,1.0,R,20120918T131800000,0.0,0.0,0.0,0.0,0.0,...,1.0,R,64.0,0.049663,77.359559,NaN,NaN,NaN,NaN,NaN
3,3,PP1,1.0,R,20120918T131900000,0.0,0.0,0.0,0.0,0.0,...,1.0,R,60.0,0.052487,76.728772,NaN,NaN,NaN,NaN,NaN
4,4,PP1,1.0,R,20120918T132000000,0.0,0.0,0.0,0.0,0.0,...,1.0,R,61.0,0.051189,76.512877,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3846,3846,PP12,NaN,NaN,20121009T162,NaN,NaN,NaN,NaN,NaN,...,2.0,R,72.0,0.035041,522.118303,NaN,NaN,NaN,NaN,NaN
3847,3847,PP17,NaN,NaN,20121017T162,NaN,NaN,NaN,NaN,NaN,...,3.0,I,69.0,0.021402,328.715956,NaN,NaN,NaN,NaN,NaN
3848,3848,PP19,NaN,NaN,20121019T162,NaN,NaN,NaN,NaN,NaN,...,3.0,R,73.0,0.044442,142.950105,NaN,NaN,NaN,NaN,NaN
3849,3849,PP21,NaN,NaN,20121031T162,NaN,NaN,NaN,NaN,NaN,...,1.0,N,73.0,0.050455,358.882838,NaN,NaN,NaN,NaN,NaN
3850,3850,PP23,NaN,NaN,20121101T162,NaN,NaN,NaN,NaN,NaN,...,3.0,T,81.0,0.031592,999.000000,NaN,NaN,NaN,NaN,NaN